##### Managed by Ansible #####

datacenter = "{{ consul_datacenter }}"
data_dir = "/opt/consul"
{% if consul_encryption_key is defined %}
encrypt = "{{ consul_encryption_key }}"
{% endif %}
{% if consul_server is truthy %}
server = true
{% endif %}
{% if consul_ca_certificate is defined and consul_tls_custom_configuration is not defined %}
tls {
  defaults {
    {% if consul_agent_certificate is defined and consul_agent_certificate_key is defined %}
    cert_file = "/usr/local/etc/consul.d/certs/{{ consul_datacenter }}-agent-certificate.pem"
    key_file = "/usr/local/etc/consul.d/certs/{{ consul_datacenter }}-agent-key.pem"
    {% endif %}
    ca_file = "/usr/local/etc/consul.d/certs/consul-agent-ca.pem"
    verify_incoming = true
    verify_outgoing = true
  }

  internal_rpc {
    verify_server_hostname = true
  }
}
{% endif %}
{% if consul_tls_custom_configuration is defined %}
{{ consul_tls_custom_configuration }}
{% endif %}
{% if consul_server is truthy and consul_agent_certificate is defined and consul_agent_certificate_key is defined %}
auto_encrypt {
  allow_tls = true
}
{% endif %}
{% if consul_server is falsy and consul_ca_certificate is defined %}
auto_encrypt = {
  tls = true
}
{% endif %}
{% if consul_extra_configuration is defined %}
{{ consul_extra_configuration }}
{% endif %}
